@charset "UTF-8";
/* CSS Document */


body {
	margin: 0;
	padding: 0;
	
}

a{
	color:#404040;
	text-decoration:none;
	-webkit-transition: color 1s;
	transition: color 1s;
	margin: 0px;
}


.content {
	margin-left: 20%;
	margin-right: 20%;
}

#top {
	display: block;
	width: 100%;
	height: 50px;
}

.title {
	font-family: "Avenir";
	font-weight: lighter;	font-size: 30px;
	margin: 0px;
	padding: 0px;
	display:inline-block;
	background: linear-gradient(
        45deg,
/*       #EECDA3, #EF629F,#EECDA3*/
		
		#c2e59c,#64b3f4,#c2e59c
    );
	color:#404040;
	-webkit-background-clip: text;
/*
	-webkit-transition: color 1s;
	transition: color 1s;
*/
    
}

.title:hover {
/*	color: #fff;*/
	-webkit-text-fill-color: transparent;
	animation: 5.5s rainbow linear infinite;
	cursor: default;
}

@keyframes rainbow {
    100% { background-position: 100vw 0px; }
}

.space {
	height: 50px;
	clear: both;
}

.space-small {
	height: 30px;
	clear: both;
}

#hobbes {
	width: 400px;
	display: block;
	margin: auto;
}

#gradient {
	height: 500px;
	background: linear-gradient(white, black)
}

#black {
	background-color: black;
}

.title-small {
	font-family: "Avenir";
	font-weight: lighter;
	font-size: 40px;
	margin: 0px;
	color:#404040;
	text-decoration: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}


.caption {
	font-family: "Avenir";
	font-weight: lighter;
	font-size: 30px;
	margin: 0px;
	color:#BFBFBF;
}

.mofm {
	width: 49.3%;
	display: inline-block;
}

@media only screen and (max-width:700px) {
  /* For mobile phones: */
  .content {
    margin-left: 5%;
	margin-right: 5%;
  }
	
	#hobbes {
		width: 80%;
	}
}

#sights {
	-webkit-transition: color 1s;
	transition: color 1s;
}

#sights:hover {
	color: #ff6666;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 23%; /* IE10 */
  flex: 23%;
  max-width: 23%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}


.column video {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
