@charset "UTF-8";
/* CSS Document */
/* CSS Document */

body {
	margin: 0;
	padding: 0;
	
}

a{
	color:#404040;
	text-decoration:none;
	-webkit-transition: color 1s;
	transition: color 1s;
}


.content {
	margin-left: 20%;
	margin-right: 20%;
}

.title {
	font-family: "Avenir";
	font-weight: lighter;
	font-size: 30px;
	margin: 0px;
	padding: 0px;
	display:inline-block;
	background: linear-gradient(
        45deg,
/*       #EECDA3, #EF629F,#EECDA3*/
		
		#FDC830,#F37335,#FDC830
    );
	color:#404040;
	-webkit-background-clip: text;
/*
	-webkit-transition: color 1s;
	transition: color 1s;
*/
    
}

.title:hover {
/*	color: #fff;*/
	-webkit-text-fill-color: transparent;
	animation: 5.5s rainbow linear infinite;
	cursor: default;
}

@keyframes rainbow {
    100% { background-position: 100vw 0px; }
}

.space {
	height: 50px;
	clear: both;
}

.space-small {
	height: 30px;
	clear: both;
}


.title-small {
	font-family: "Avenir";
	font-weight: lighter;
	font-size: 20px;
	margin: 0px;
	color:#404040;
	text-decoration: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
}


@media only screen and (max-width:700px) {
  /* For mobile phones: */
  .content {
    margin-left: 5%;
	margin-right: 5%;
  }
	.caption {
		text-align: left;
	}
}

@media (max-width:1150px) { 
	.display{
		float:left;
	}
	
	.bar {
		float: left;
	}
}

.space {
	height: 50px;
	clear: both;
}
